h2{
	text-align:center;
}
.center{
	margin-left:auto;
	margin-right: auto;
}
table {
	border: 10px solid #BCAAA4;	
}
td:hover {
	background-color:#A1F887F;
	color:#5D4037 ;
}
th{
	font-weight:bold;
	background-color:#795548 ;
	color:white ;

}
tr,td{
	background-color:#8D6E63;
	color:#D7CCC8;

}
