
Challenge_Code/css/challenge.css
Challenge_Code/css/text_over_video.css
Challenge_Code/img/rain_flower.mp4
Challenge_Code/img/space-boston.png
Challenge_Code/LearningChallenges.html
Challenge_Code/Text_Over_Video.html
Folder/Challenge.html
Folder/Challenge6.html
Folder/css/challenge.css
School_Portfolio/images/email.jpg
School_Portfolio/images/GitHub.png
School_Portfolio/images/html_custom.png
School_Portfolio/images/programming.png
School_Portfolio/images/video/Typing.mp4
School_Portfolio/images_original/images/GitHub.png
*.png
School_Portfolio/stylesheet/portfolio.css
School_Portfolio/index.html
School_Portfolio/images_original/images/video/Typing.mp4
